<form class="form-container">
    <h1 mat-dialog-title>Hi {{propose.userName}}</h1>
    <div mat-dialog-content>
        <p>Please input you propose request:</p>
        <div class="dialog-container">
            <mat-form-field>
                <input matInput placeholder="User Name" readonly name="userName" [(ngModel)]="propose.userName">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Description" name="description" [(ngModel)]="propose.description"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="sendPropose()">Submit</button>
    </div>
</form>