<form class="form-container" role="form" (submit)="save()" novalidate name="myForm">
    <mat-card>
        <mat-card-content class="flex-content">
            <p class="h4">Mentor Information</p>
            <section>
                <mat-form-field>
                    <!-- Last name -->
                    <input type="text" id="firstName" name="firstName" [(ngModel)]="mentor.firstName" matInput
                        placeholder="First name">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <!-- Last name -->
                    <input type="text" id="lastName" name="lastName" [(ngModel)]="mentor.lastName" matInput
                        placeholder="Last name">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <mat-select multiple placeholder="Technology" [(ngModel)]="defaultSkills" name="skills">
                        <mat-option *ngFor="let tech of techs" [value]="tech.skillId">
                            {{tech.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <mat-select placeholder="Time Zone" name="timezone" [(ngModel)]="mentor.timezone">
                        <mat-option *ngFor="let zone of timezones" [value]="zone">
                            {{zone}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <input matInput type="text" class="form-control" placeholder="Facilities provided" name="facilities"
                        [(ngModel)]="mentor.facilities">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Examples/Cloud labs" name="examples"
                        [(ngModel)]="mentor.examples"></textarea>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <input matInput type="text" id="contactNumber" name="contactNumber"
                        [(ngModel)]="mentor.contactNumber" placeholder="Contact number">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <!-- <button mat-stroked-button color="primary" type="button">Verify</button> -->
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <input type="url" id="linedinUrl" name="linedinUrl" [(ngModel)]="mentor.linedinUrl" matInput
                        placeholder="linedin Url">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <input matInput type="text" class="form-control" placeholder="Years of experience" name="yearsOfExperience"
                        [(ngModel)]="mentor.yearsOfExperience">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Brief introduction" name="introduction" [(ngModel)]="mentor.introduction"></textarea>
                </mat-form-field>
            </section>
            <section>
                <p class="form-button-row">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </p>
            </section>
        </mat-card-content>
    </mat-card>
</form>