<form class="form-container">
    <mat-card>
        <mat-card-content>
            <p class="h4">Create Account</p>
            <mat-form-field class="form-full-width">
                <!-- First name -->
                <input type="text" id="firstName" matInput placeholder="First name">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <!-- Last name -->
                <input type="text" id="lastName" matInput placeholder="Last name">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <!-- E-mail -->
            <mat-form-field class="form-full-width">
                <input type="email" id="username" matInput placeholder="E-mail">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <!-- Password -->
                <input type="password" id="password" matInput placeholder="Password"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted">
                    At least 8 characters and 1 digit
                </small>
            </mat-form-field>
            <p>
                <!-- Sign up button -->
                <button mat-raised-button color="primary" type="submit">Sign Up Now</button>
            </p>
            <hr>
            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a></p>
        </mat-card-content>
    </mat-card>
</form>