<form class="form-container">
    <mat-card>
        <mat-card-content>
            <p>Technology and Fee admin</p>
            <section>
                <p>Technology</p>
                <mat-list role="list">
                    <mat-list-item role="listitem"><em class="material-icons">delete</em> Java</mat-list-item>
                    <mat-list-item role="listitem"><em class="material-icons">delete</em> Python</mat-list-item>
                    <mat-list-item role="listitem"><em class="material-icons">delete</em> Go</mat-list-item>
                </mat-list>
            </section>
            <hr>
            <section>
                <p>Payment Frequency</p>
                <mat-form-field class="form-full-width">
                    <input matInput type="text" id="firstName" class="form-control" value="4">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </section>
        </mat-card-content>
    </mat-card>
</form>