<h1>Training WebSite</h1>

<mat-toolbar>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="signup">Signup</a>
    <a mat-button routerLink="search">Search</a>
    <a mat-button routerLink="userTrainings">Trainee Home</a>
    <a mat-button routerLink="mentorTrainings">Mentor Home</a>
    <a mat-button routerLink="profile">Profile</a>
    <a mat-button routerLink="admin/user">Admin - User</a>
    <a mat-button routerLink="admin/tech">Admin - Technology/Fee Frequency</a>
</mat-toolbar>
<div class="container">
    <div [hidden]="!signupSuccess">
        <p>Signup success, please use your account to login:</p>
    </div>
    <div [hidden]="!userExists">
        <p>Signup failed, user already exists, please use your account to login:</p>
    </div>
    <div [hidden]="!signupFailed">
        <p>Signup failed, unknow issue, please try again later or contact administrator.</p>
    </div>
</div>
<hr>
<router-outlet></router-outlet>