<h1>Training WebSite</h1>

<mat-toolbar>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="signup">Signup</a>
    <a mat-button routerLink="search">Search</a>
    <a mat-button routerLink="userTrainings">Trainee Home</a>
    <a mat-button routerLink="mentorTrainings">Mentor Home</a>
    <a mat-button routerLink="profile">Profile</a>
    <a mat-button routerLink="admin/user">Admin - User</a>
    <a mat-button routerLink="admin/tech">Admin - Technology/Fee Frequency</a>
</mat-toolbar>
<hr>
<div class="container">
    <div [hidden]="!authenticated()">
        <p>The ID is {{userName}}</p>
        <p>The content is {{greeting}}</p>
    </div>
    <div [hidden]="!signupSuccess">
        <p>Signup success, please use your account to login:</p>
    </div>
    <div [hidden]="!userExists">
        <p>Signup failed, user already exists, please use your account to login:</p>
    </div>
    <div [hidden]="!signupFailed">
        <p>Signup failed, unknow issue, please try again later or contact administrator.</p>
    </div>
    <div [hidden]="authenticated()">
        <p><a href="/login">Login to see your greeting</a></p>
    </div>
    <div [hidden]="authenticated()">
        <p><a href="/signup">Sign up</a></p>
    </div>
    <div [hidden]="!authenticated()">
        <p><button on-click="logout()">Login out</button>
    </div>
</div>
<hr>
<router-outlet></router-outlet>